extend shopLayout
block content
  .row
    .col-md-8
      h1.page-header Contact Info
      p
      | Labore reprehenderit sit dolore labore esse dolore aliquip veniam magna. Officia fugiat commodo incididunt occaecat voluptate elit ad id duis dolore sit quis cillum fugiat ut consequat. Incididunt consectetur eiusmod amet voluptate mollit exercitation cillum reprehenderit proident ad sunt qui reprehenderit. Ipsum fugiat anim magna aliqua officia excepteur amet eiusmod eiusmod adipisicing commodo id qui irure duis. Dolor sint Lorem aliqua non amet cillum ut minim officia adipisicing velit. Ut mollit adipisicing do labore dolore veniam ad ipsum eiusmod in cupidatat Lorem excepteur aliqua pariatur minim. Exercitation mollit esse cupidatat in consequat nostrud cillum tempor.
      br
      br
      ul.list-group
        li.list-group-item
          span.glyphicon.glyphicon-earphone 
          | 93 830 14 35 60 
        li.list-group-item
          span.glyphicon.glyphicon-pushpin
          | Arquitecte Gaudí, 145
        li.list-group-item
          span.glyphicon.glyphicon-email
          | info@dragondesign.org
    .col-md-4.thumbnail
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5949.041766425841!2d1.957770700000002!3d41.7955382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4fb0fc492f291%3A0xfda30b1ad72e4ec9!2sCarrer+Arquitecte+Gaud%C3%AD%2C+145%2C+08271+Art%C3%A9s%2C+Barcelona!5e0!3m2!1ses!2ses!4v1471519234922', width='100%', height='500px', frameborder='0', allowfullscreen)
